<!DOCTYPE html>
<html>

<head>
    <title>{{ appname }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="//static.yingsheng.com/oa.yingsheng.com/images/icon.ico" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{{ subDir }}/admin/css/global.css{{ unix }}">
</head>

<body>
    <div id="app"></div>
</body>
<script>
    var globalConfig = {{ globalConfig | raw}};
</script>
<script src="{{ subDir }}/js/vendor.min.js{{ unix }}"></script>
<script src="{{ subDir }}/js/adminMaster.min.js{{ unix }}"></script>

</html>